#hero {
  min-height: 100vh;
  height: 100vh;
  display: flex;
  align-items: center;
  border-bottom: 0px;
  background: $white-color;
  font-weight: 400;
  color: $dark-blue-text;
  padding: 0rem 5.6rem;
  margin-bottom: 0;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;

  // If you want to set a background image on the hero section, uncomment these with yout custom image

  background: url('https://scontent-lga3-1.xx.fbcdn.net/v/t31.0-8/15196047_10154150840641687_3093045152432072962_o.jpg?_nc_cat=104&_nc_sid=e3f864&_nc_ohc=4t9QbIuTResAX_c_rH0&_nc_ht=scontent-lga3-1.xx&oh=ab85cce7bfb190bd3a44fb5634ae68b4&oe=5F63079D');
  background-position: center;
  background-size: cover;

  @include respond(phone) {
    padding: 0rem $default-font-size;
  }
  .title {
    font-size: 5.6rem;
    font-weight: 700;
    margin-bottom: 3.2rem;
    color: rgb(224, 220, 220);
  }
  .hero-title {
    font-size: 5.6rem;
    font-weight: 700;
    margin-bottom: 3.2rem;
    text-align: center;
    color: rgb(224, 220, 220);

    @include respond(tab-land) {
      font-size: 4rem;
    }
    @include respond(tab-port) {
      font-size: 3.6rem;
      text-align: left;
    }
    @include respond(phone) {
      font-size: 2.3 rem;
      line-height: 1.5;
      text-align: left;
    }
    @include respond(phone-xs) {
      font-size: 2rem;
    }
  }

  .hero-cta {
    display: flex;
    justify-content: center;

    @include respond(tab-port) {
      justify-content: center;
    }

    & a {
      font-size: 2.4rem;

      @include respond(phone) {
        font-size: 2rem;
      }
    }
  }
}
